/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdf6e3;
}
.dollarsign {
  position: relative;
}
.dollarsign::after {
  content: "";
  position: absolute;
  right: calc(100% + 1rem);
}
